<div id="job-view-container" class="container">

  <div class="row text-center">
    <a class="back-link main-color" href="/">Voltar</a>

    <div id="img-container" class="col-md-12">
      <img src="/img/Fig.avif" alt="Company">

    </div>

    <div class="col-md-12">
      <h1 class="main-color">{{job.dataValues.title}}</h1>
      <p><span class="bold">Solicitante: </span> {{job.dataValues.solicitante}}</p>
      <p><span class="bold">Sala de aula / local: </span> {{job.dataValues.local}}</p>
      <p><span class="bold">Disciplina: </span> {{job.dataValues.disciplina}}</p>
      <p><span class="bold">Descrição da atividade: </span> {{job.dataValues.detalhes}}</p>
      <br>  </br>
      <p><span class="bold">Em caso de atraso na devolução: ---------> IMPLEMENTAR ÍCONE PARA ENVIO DE MSG POR WHATZAP, VIA API</p>

    </div>

  </div>
  
</div>